[user]
	name = {{ .name }}
	email = {{ .email }}
[credential "https{{ .chezmoi.pathListSeparator }}{{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }}github.com"]
	helper = 
	helper = !{{ .chezmoi.pathSeparator }}usr{{ .chezmoi.pathSeparator }}bin{{ .chezmoi.pathSeparator }}gh auth {{ .chezmoi.config.git.command }}-credential
[credential "https{{ .chezmoi.pathListSeparator }}{{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }}gist.github.com"]
	helper = 
	helper = !{{ .chezmoi.pathSeparator }}usr{{ .chezmoi.pathSeparator }}bin{{ .chezmoi.pathSeparator }}gh auth {{ .chezmoi.config.git.command }}-credential
[filter "lfs"]
	process = {{ .chezmoi.config.git.command }}-lfs filter-process
	required = true
	clean = {{ .chezmoi.config.git.command }}-lfs clean -- %f
	smudge = {{ .chezmoi.config.git.command }}-lfs smudge -- %f
[init]
	defaultBranch = main
[core]
	autocrlf = input
	askPass = true
